:root {
	--deep-purple: #700090;
	--periwinkle: #4da6ff;
	--light-grey: #f2f2f2;
}

@font-face {
	font-family: "FontAwesome";
	font-weight: 900;
	font-display: auto;
	src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 0;
} 

.content {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 1000px;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 20px 0;
}

h1 {
	font-size: 30px;
}

h2 {
	font-weight: 400;
}

h3 {
	font-weight: 600;
	margin: 1em 0;
}

a {
	color: #700090;
	color: var(--deep-purple);
	font-weight: 600;
	text-decoration:none;
}

a:hover {
	color: #4da6ff;
	color: var(--periwinkle);
}

p {
	margin: 20px 0;
}

nav {
	float: right;
	font-size: 18px;
	margin-top: 20px;
}

nav ul {
	margin: 0px;
}

nav li { 
	display: inline-block;
	list-style-type: none;
	margin-left: 0.5em;
} 

nav li a {
	display: inline-block;
	padding: 6px;
}

nav li .icon {
	font-family: FontAwesome;
	font-size: 1em;
	color: #700090;
	color: var(--deep-purple);
	padding-right: 0.25em;
}

nav li:hover, nav li a:hover {
	background-color: #f2f2f2;
	background-color: var(--light-grey);
	color: #700090;
	color: var(--deep-purple);
}

header {
	border-bottom: 3px solid;
	border-color: #700090;
	border-color: var(--deep-purple);
	margin-bottom: 2em;
	overflow: hidden;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.name {
	float: left;	
}

.name a, .name a:hover {
	color: black;
}

section.projects { 
	background-color: #f2f2f2;
	background-color: var(--light-grey);
	margin: 20px 0;
	padding: 20px 0;
} 

.skills, .projects, .contact {
	overflow: hidden;
}

.skill-col {
	float: left;
	width: 25%;
}

.skill-col ul {
	margin: 20px 0;
	padding-left: 0;
	padding-right: 1em;
}

.skill-col li { 
	list-style-type: none;
	padding-left: 25px;
	position: relative;
} 

.skill-col li:before {
	position:absolute;
	top: 0.8em;
	left: 0;
	font-family: FontAwesome;
	font-size: 0.5em;
	color: #700090;
	color: var(--deep-purple);
	content: "\f0c8";
	text-rendering: optimizeLegibility;
	visibility: visible;
}

.project-col {
	float:left;
	width: 33%;
}

.project-container {
	padding: 0 1em;
	text-align: center;
}

.project-container img {
	margin-top: 20px;
	max-width: 280px;
}

.project-container img:hover {
	opacity: 0.7;
}

.img-caption {
	font-size: 0.9em;
	font-style: italic;
	color: #666;
	text-align: center;
}

img.max-width-400 {
	max-width: 400px;
}

@media only screen and (max-width: 800px) {
    .skill-col {
            width: 50%;
    }

    .project-col {
		width: 100%;
	}
}

@media only screen and (max-width: 450px) {
	.name {
		float: none;
	}

	nav {
		float: none;
		margin: 1em 0;
	}

	nav a {
		margin-left: 0;
		margin-right: 1em;
	}

	.skill-col {
		width: 100%;
	}
}

footer {
	border-top: 3px solid;
	border-top-color: #700090;
	border-top-color: var(--deep-purple);
	margin: 2em 0;
}

footer div {
	margin: 20px;
	text-align: center;
}
