:root {
	--deep-purple: #700090;
	--periwinkle: #0070E0;
	--light-grey: #f2f2f2;
	--super-light-grey: #f6f6f6;
}

@font-face {
	font-family: "FontAwesome";
	font-weight: 900;
	font-display: auto;
	src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 8em 0 0 0;
} 

.content {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 1000px;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 20px 0;
}

h1 {
	font-size: 30px;
}

h2 {
	font-weight: 400;
}

h3 {
	font-weight: 600;
	margin: 1em 0;
}

a {
	color: #700090;
	color: var(--deep-purple);
	font-weight: 600;
	text-decoration:none;
}

a:hover {
	color: #4da6ff;
	color: var(--periwinkle);
}

p {
	margin: 20px 0;
}

header {
	background-color: #fff;
	border-bottom: 3px solid;
	border-color: #700090;
	border-color: var(--deep-purple);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.name {
	float: left;	
}

.name a, .name a:hover {
	color: black;
}

nav {
	float: right;
	font-size: 18px;
	margin-top: 20px;
}

nav ul, .social-media ul {
	margin: 0;
	padding: 0;
}

nav li {
	margin-left: 0.5em;
}

nav li, .social-media li { 
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	list-style-type: none;
} 

nav li a {
	display: inline-block;
	font-weight: 400;
	padding: 10px;
}

.social-media li a {
	font-size: 1.8em;
	padding: 5px 8px;
}

.icon {
	font-family: FontAwesome;
	color: #700090;
	color: var(--deep-purple);
}

nav li .icon {
	font-size: 1em;
	padding-right: 0.25em;
}

nav li:hover, nav li a:hover, .social-media li:hover, 
.social-media li a:hover {
	border-radius: 5px;
	background-color: #f2f2f2;
	background-color: var(--light-grey);
	color: #700090;
	color: var(--deep-purple);
}

.dropdown-container {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 20em;
	box-shadow: 0 3px 1px 0px rgba(0,0,0,.2);
	z-index: 1;
}

.dropdown-container:hover .dropdown-content {
	display: block;
}

section.projects { 
	background-color: #f2f2f2;
	background-color: var(--light-grey);
	margin: 20px 0;
	padding: 20px 0;
} 

.skills, .projects, .contact {
	overflow: hidden;
}

.skill-col {
	float: left;
	width: 25%;
}

.skill-col ul {
	margin: 20px 0;
	padding-left: 0;
	padding-right: 1em;
}

.skill-col li { 
	list-style-type: none;
	padding-left: 25px;
	position: relative;
} 

.skill-col li:before {
	position:absolute;
	top: 0.8em;
	left: 0;
	font-family: FontAwesome;
	font-size: 0.5em;
	color: #700090;
	color: var(--deep-purple);
	content: "\f0c8";
	text-rendering: optimizeLegibility;
	visibility: visible;
}

.project-col {
	float:left;
	width: 33%;
}

.project-container {
	padding: 1em;
	margin-right: 0.5em;
	text-align: center;
}

.project-container img {
	margin: 20px auto 0px auto;
	max-height: 160px;
}

.project-container:hover {
	border-radius: 5px;
	background-color: var(--super-light-grey);
}

.project-container:hover h3, .project-container:hover .more {
	color: var(--periwinkle);
}

.project-container:hover img {
	opacity: 0.7;
}

.project-container .description {
	color: #000000;
	color: black;
	font-weight: 400;
	text-decoration:none;
}

.project-container .more {
	display: inline-block;
}

.img-caption {
	font-size: 0.9em;
	font-style: italic;
	color: #666;
	text-align: center;
}

img.max-width-400 {
	max-width: 400px;
}

footer {
	border-top: 3px solid;
	border-top-color: #700090;
	border-top-color: var(--deep-purple);
	margin-top: 2em;
	padding: 20px 0;
}

footer .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer .copyright {
	float: left;
}

footer .social-media {
	float: right;
}

@media only screen and (max-width: 800px) {
    .skill-col {
    	width: 50%;
    }

    .project-col {
		width: 100%;
		text-align: center;
	}

	.project-col img {
		margin: 0 auto;
	}
}

@media only screen and (max-width: 550px) {
	body {
		margin: 0;
	}

	.name, nav, .copyright, .social-media {
		float: none;
	}

	.name a {
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	header {
		box-shadow: none;
		position: static;
		margin-bottom: 1em;
	}

	nav ul {
		margin: 1em auto;
		text-align: center;
		width: 100%;
	}

	nav li {
		margin: 0 0.25em;
	}

	.skill-col {
		width: 100%;
	}
}